.container {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 8px;
  inline-size: clamp(170px, 250px, 400px);
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
}

.input::placeholder {
  opacity: 0.6;
}

.label {
  font-weight: bold;
  margin-right: 15px;
}
