.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px;
}

.form > * {
  margin-inline: 10px;
}
